@charset "UTF-8";

html {
  background-color: 270646;
  background-image: url("./images/backgroundImage.png");
}

header {
  background-color: #FFD700;
}

a {
    color: white;
}

h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
  	font-weight: bold;
}
  

nav {
    
    background-color: #8400dd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
  	font-family: 'Cormorant Garamond', serif;
  	
}

a:link {
    text-decoration: none;
}

#wrapper {
    width: 1100px;
    border: 2px solid black;
    padding: 10px 15px 10px 15px;
    margin: auto;
    background-color: DDE2E3;
		font-family: 'Proza Libre', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


.top-bar {
    color: #FFD700;
    background-color:25003D;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
}

.bottom-bar {
    text-align: center;
    font-size: 1.3em;
    background-color: DDE2E3;
		color: black;
  	
  
}

.bottom-link {
	color:black;
}

a:hover {
color: FFD700;
text-decoration: overline; 
background-color: #654d75;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #37294117;
    padding: 5%;
    padding-left: 6%;
    padding-right: 6%;
    border-style: double;
    border-width: 7px;

}

